@page "/register"
@using RealEstate.App.Auth
@using RealEstate.App.Models
@using RealEstate.App.Validators
@using System.Net.Http.Json
@using System.Net.Http
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<div class="content-container">
    <div class="auth-message"><p>@error</p></div>
    <div class="form-card">
        <div class="auth-form-buttons-div">
            <NavLink href="Login">
                <button class="auth-form-button">
                    Log In
                </button>
            </NavLink>

            <NavLink href="register">
                <button class="auth-form-button">
                    Sign up
                </button>
            </NavLink>
        </div>

        <EditForm Model="@registerRequest" OnValidSubmit="OnSubmit">
            <FluentValidationValidator />

            <hr class="auth-hr">

            <div class="auth-input-div">
                <label class="auth-label" for="email">Email:</label>

                <br>

                <InputText id="email" @bind-Value="registerRequest.email" type="email" class="auth-input" placeholder="Enter email" required />
                <ValidationMessage For="@(() => registerRequest.email)" />
            </div>

            <div class="auth-input-div">
                <label class="auth-label" for="username">Username:</label>

                <br>

                <InputText id="username" @bind-Value="registerRequest.username" type="name" class="auth-input" placeholder="Enter username" required />
                <ValidationMessage For="@(() => registerRequest.username)" />
            </div>

            <div class="auth-input-div">
                <label class="auth-label" for="name">Name:</label>

                <br>

                <InputText id="name" @bind-Value="registerRequest.name" type="name" class="auth-input" placeholder="Enter your name" required />
                <ValidationMessage For="@(() => registerRequest.name)" />
            </div>

            <div class="auth-input-div">
                <label class="auth-label" for="phone">Phone:</label>

                <br>

                <InputText id="phone" @bind-Value="registerRequest.phoneNumber" type="phone" class="auth-input" placeholder="Enter phone number" required />
                <ValidationMessage For="@(() => registerRequest.phoneNumber)" />
            </div>

            <div class="auth-input-div">
                <label class="auth-label" for="password">Password:</label>

                <br>

                <InputText id="password" @bind-Value="registerRequest.password" type="password" class="auth-input" placeholder="Create password" required />
            </div>

            <div class="auth-input-div">
                <label class="auth-label" for="confirmPassword">Confirm Password:</label>

                <br>

                <InputText id="confirmPassword" @bind-Value="confirmPassword" type="password" class="auth-input" placeholder="Confirm password" required />
            </div>

            <div class="password-suggestions">
                Must be at least 8 characters <br>
                At least 1 special character<br>
                Must contain letters and numbers<br>
                At least 1 lower and 1 uppercase letter<br>
            </div>

            <input class="auth-form-submit-button" type="submit" value="Submit" onclick="">
            <hr class="auth-hr">

            <div>By submitting I accept the terms of use</div>

        </EditForm>
    </div> 
</div>

@code {
    RegisterViewModel registerRequest { get; set; } = new RegisterViewModel();
    private string confirmPassword;
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(registerRequest);
            LogToConsole("Login ok");
            error = "Please confirm your email address";
        }
        catch (Exception ex)
        {
            LogToConsole("Invalid Credentials");
            error = ex.Message;
        }
    }

    void LogToConsole(string message)
    {
        JSRuntime.InvokeVoidAsync("console.log", message);
    }
}
@* 
@code {
    private EmailModel emailModel = new EmailModel();
    private string password;
    private string confirmPassword;
    public string message = "";
    private User user = new User();

    private async Task SubmitForm(User user)
    {
        var request = new HttpRequestMessage
            {
                Method = HttpMethod.Post,
                RequestUri = new Uri("https://localhost:7190/api/v1/Authentication/register?role=User"), // Update with your API endpoint
                Content = JsonContent.Create(user)
            };
        // Send a POST request to the API
        var response = await HttpClient.SendAsync(request);

        // Handle the API response if needed
        // For demonstration purposes, just print the response to the console
        Console.WriteLine(response);
    }

        private void HandleValidSubmit()
        {

            if (password == confirmPassword)
			{
                message="";
                user.email = emailModel.Email;
                user.username = emailModel.Username;
                user.phoneNumber = emailModel.Phone;
                user.password = password;
                user.name = "";

                var result = SubmitForm(user);

                if (result.Status != TaskStatus.Faulted)
				{
					message = "Success";
				}
				else
				{
					message = "Please check supplied credentials";
				}
			}
			else
			{
                message = "Passwords do not match";
			}
        }
}
 *@